<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sports Online</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/ErrorStyles.css" rel="stylesheet" />
    <link href="~/Content/ErrorStyles.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-ui.unobtrusive.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <style>

        .navbar-right {
            float:right !important;
            margin-left: 15px;
            margin-right:15px;
        }

    </style>

    <script>

        var i = 0;

        $(document).ready(function () {
            
            3 + 4;
            var textBlock = "I can create a really really long sentence but never mind.";
            var queryWord = "really";

            var blockArr = textBlock.split(' ');

            for(var i=0; i< blockArr.length; i++)
            {
                if (blockArr[i] == queryWord) {
                   
                }
            }

            var a = [1,2,3];
            var c = a.every(function(item){
                return item >1;
            });
            alert(c);

            var b = a.filter(function (item) {
                return (item > 1);
            });

            console.log(b);
            //function Sample (aNumber)
            //{
            //    this.aNumber = aNumber;
            //}
            //var objectFromSample = new Sample(15);
            ////Here, we add a new property using the ‘prototype’ keyword
            //Sample.prototype.aString = "Hi there!";
            //console.log(objectFromSample.aString);
            //var anotherObjectFromSample = new Sample(25);
            //console.log(anotherObjectFromSample.aString);

            //function ChangeUrl() {
            //    window.location.hash = i;
            //    i++;
            //}

            //setInterval(ChangeUrl, 1000);
        });
        
    </script>
</head>
<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                @Html.ActionLink("Online Sport Store", "Index", "Home", new { @class="navbar-brand"})
            </div>
            <ul class="nav navbar-nav">
                <li class="active"> @Html.ActionLink("Products", "List", "Products") </li>
                <li> @Html.ActionLink("Category", "Index", "Category") </li>
                <li> @Html.ActionLink("Brand", "Index", "Brand") </li>
            </ul>
        </div>
    </nav>
   
    <div class="row panel">
        <div class="col-xs-12 col-sm-12 ">
            @RenderBody()
        </div>
    </div>

    <footer>
        <p>&copy; @DateTime.Now.Year - Sports Online</p>
    </footer>

   
    
</body>
</html>